body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
  overscroll-behavior-y: none;
  background-color: #1B1B1B;
  max-width: 100%;
  overflow-x: hidden;
}

@media {
  body {
    padding-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Futura', serif;
  color: #FFFFFF;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 10rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Open Sans', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #83B692;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #83B692;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #83B692 !important;
}

.text-primary {
  color: #FFFFFF !important;
}

a {
  color: #FFFFFF;
}

a:hover, a:focus, a:active {
  color: #FFFFFF;
}
